<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="text-center">
                    <h1>Login</h1>
                    <hr />
                    <p class="text-danger fw-bold">( * ) fields are mandatory</p>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email <span class="text-danger fw-bold">*</span></label>
                        <input formControlName="Email" placeholder="Enter Email" type="email" class="form-control" id="Email"  required>
                        <small *ngIf="loginForm.get('Email')?.invalid && loginForm.get('Email')?.touched" class="text-danger">Email is required</small>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password <span class="text-danger fw-bold">*</span></label>
                        <input formControlName="Password" placeholder="Enter Password" type="password" class="form-control" id="Password" required>
                        <small *ngIf="loginForm.get('Password')?.invalid && loginForm.get('Password')?.touched" class="text-danger">Password is required</small>
                      </div>
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
